h1 {
	font-family: Garamond;
	font-size: 30px;
	text-align: center;
	padding-bottom: 15px;
}

.button {
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	font-family: Garamond;
	font-size: 20px;
}

#greeting {
	margin-top: 20px;
	margin-bottom: 20px;
}

#blog {
	margin-top: 20px;
	margin-bottom: 20px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid grey;
	font-family: Garamond;
	font-size: 20px;
	display: block;
	width: 400px;
}

input[type=text]:focus {
    background-color: lightblue;
}

nav {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	background-color: #fffff0;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

.link {
	text-decoration: none;
	font-family: Garamond;
	font-size: 20px;
	color: navy;
}

.link:hover {
	color: green;
}

#calculator {
	margin: auto;
}

#result {
	border: 2px solid grey;
	font-family: Consolas;
	width: 325px;
	text-align: right;
	font-size: 25px;
}

h2 {
	font-family: Garamond;
	font-size: 25px;
	text-align: center;
	padding-bottom: 15px;
	color: navy;
}

.calc-button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	font-family: Consolas;
}
/* Forms */
#login {
	width: 600px;
}
legend {
	font-family: Garamond;
	font-size: 20px;
	padding: 10px 10px;
	font-weight: bold;
}
input.form-input-text {
	border: 2px solid grey;
	font-family: Garamond;
	font-size: 20px;
	display: inline;
	margin-bottom: 10px;
}

input.form-input-text:focus {
	background-color: lightyellow;
}
label {
	display: inline-block;
	font-size: 20px;
	font-family: Garamond;
	width: 80px;
}

.checkbox-label {
	width: 200px:
}

.form-button {
	font-family: Garamond;
	font- size: 20px;
	border-radius: 5px;
}

#login-button {
	margin-left: 250 px;
}	

#error{
	color: red;
	font-family: Garamond;
	color: red;
}
#logout-bar {
	font-family: Garamond;
	font- size: 18px;
	color: navy;
	text-align: right ;
	padding: 10px 10px;
	border-bottom: 2px solid grey;
}

.new-style{
	font-family: Comic Sans MS;
	font-size: 25px;
	color: red;
	border: 1px solid grey;
	text-align: right;
}
.orginal{
	background-color: white;
	color: black;
}

.style1{
	background-color:black ;
	color:white;
}
.style2{
	background-color:#FF00FF;
	color: black;
}

.style3{
	background-color:purple;
	color: yellow;
}

#images img{
	height: 100px;
}
#images{
	text-align: center;
}
#bigpic{
	text-align:center;
}
#bigpic{
	height:500px;
}
/* Animation */
#container{
	width:400px;
	height:400px;
	position:relative;
	background:#222930;
}
#animate{
	border-radius:50%;
	width:50px;
	height:50px;
	position:absolute;
	background:pink;
}
#ball{
	border-radius:50%;
	width:50px;
	height:50px;
	position:absolute;
	background:purple;
	bottom:0px;
	right:0px;
}

#one{
	border-radius:50%;
	width:50px;
	height:50px;
	position:absolute;
	background:white;
	bottom:0px;
	left:0px;
}
#two{
	border-radius:50%;
	width:50px;
	height:50px;
	position:absolute;
	background:yellow;
	top:0px;
	right:0px;
}
	
	

